#highlight{
  cursor: pointer;
}
.container{
  max-width: 800px;
}
#tabs{
  width: 100%;
  max-width: 800px;
  overflow-x: scroll;
  top:0;
  position: fixed;
  z-index: 2;
}
  .data_holder{
    margin-top:50px;
    //min-height: 500px;
    max-width: 800px;
    //overflow-y: scroll;
  }     

::-webkit-scrollbar { 
    display: none; 
}

#order {
  display: none;
  position: fixed;
  right: 0;
  padding: 10px;
  margin: 50px;
  width: 400px;
}
#order::before{
  display:inline-block;
  text-decoration: none;
  //position: absolute;
  margin-left:10px;
  font-weight: bold;
  margin-bottom: 50px;
  content: "Кликни, чтобы скопировать";
}
#order::after{
  display:inline-block;
  text-decoration: none;
  position: absolute;
  right:65px;
  margin-top: 0px;
  content: url("../img/hand.png");
}
.order_element{
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}

.main{
  color:#20805E!important;
}
.bad{
  background-color:#BF5E30!important;
}
.good{
  background-color:#2E3983!important;
}
.normal
{
  background-color:#8BB42D!important;
}