body{
  background-color: #f1f2f6;
}
.podnos{
  cursor: pointer;
}
.refresh_button{

}
.main{
  margin-top:15px;
  min-width: 1300px;
}
#logo-container
{
  color:#656d78;
}
.collection{
  margin-top: 0;
}
.tabs .tab {
  display: block;
  text-align: left;
}
@media only screen and (max-width: 992px){
  .tabs {
    display: block;
    text-align: left;
  }
}
.tabs .indicator {
  display: none;

}
.tab .active{
  background-color: #FFDAB9!important;
}
#tabs_title::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  //border-radius: 50%;
  //vertical-align: middle;
  background: #e6e9ed;
}

.tab a::before{
  position: relative;
  font-size: 36px;
  line-height: 1em;
  //color: #00bff3;
  //position: absolute;
  top:7px;
  right: 7px;
  //left: 15px;
  //bottom: 20px;
  margin-top: 5px;
  font-weight: normal;
}
.i_salads::before{
  content:url('img/salad.png');
}
.i_soups::before{
  content:url('img/soup.png');
}
.i_heats::before{
  content:url('img/steak.png');
}
.i_garnish::before{
  content:url('img/rice.png');
}
.i_deserts::before{
  content:url('img/cake.png');
}
.i_snacks::before{
  content:url('img/tomato.png');
}
.i_sandwiches::before{
  content:url('img/taco.png');
}
.i_breakfest::before{
  content:url('img/breakfast.png');
}



#tabs{
  box-shadow: 0 0 2px #ccd0d9;
  background-color: white;
  min-width: 100px;
  float:left;
  //width: 100%;
  //width: 150px;
  height: auto;
  overflow-x: scroll;
  top:0;
  //position: fixed;
  z-index: 100;
}
  .data_holder{
    float: left;
  }     

::-webkit-scrollbar { 
    display: none; 
}

#order {
  display: none;
  right: 0;
  width: 400px;
}
#order::before{
  display:inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 50px;
  content: "Кликни на поднос, чтобы скопировать";
}

.order_element{
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}

#highlight{
  box-shadow: 0 0 2px #ccd0d9;
  background-color: white;
}