body{
  background-color: #f1f2f6;
}
.podnos{
  text-align: center;
  cursor: pointer;
}

.main{
  margin-top:15px;
  min-width: 1050px;
}
#logo-container
{
  color:#656d78;
}
.collection{
  margin-top: 0;
}

.tabs .tab {
  display: block;
  text-align: left;
}
@media only screen and (max-width: 992px){
  .tabs {
    display: block;
    text-align: left;
  }
}
.tabs .indicator {
  display: none;

}
.tab .active{
  background-color: #FFDAB9!important;
}
#tabs_title::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  //border-radius: 50%;
  //vertical-align: middle;
  background: #e6e9ed;
}

.tab a::before{
  position: relative;
  font-size: 36px;
  line-height: 1em;
  //color: #00bff3;
  //position: absolute;
  top:7px;
  right: 7px;
  //left: 15px;
  //bottom: 20px;
  margin-top: 5px;
  font-weight: normal;
}
.i_salads::before{
  content:url('../img/salad.png');
}
.i_soups::before{
  content:url('../img/soup.png');
}
.i_heats::before{
  content:url('../img/steak.png');
}
.i_garnish::before{
  content:url('../img/rice.png');
}
.i_deserts::before{
  content:url('../img/cake.png');
}
.i_snacks::before{
  content:url('../img/tomato.png');
}
.i_sandwiches::before{
  content:url('../img/taco.png');
}
.i_breakfest::before{
  content:url('../img/breakfast.png');
}



#tabs{

  box-shadow: 0 0 2px #ccd0d9;
  background-color: white;
  min-width: 100px;
  float:left;
  //width: 100%;
  //width: 150px;
  height: auto;
  overflow-x: scroll;
  top:0;
  //position: fixed;
  z-index: 100;
}
    
.collection{
  overflow-y: scroll;
  max-height: 700px;
}
::-webkit-scrollbar {

    width: 0.3em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#order {
  //position: fixed;
  right: 0;
  width: 400px;
}
#order::before{
  display:inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 50px;
  content: "Сформируй обед и кликни на поднос (:";
}

.order_element{
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}
.order_element:hover{
  background-color: rgba(255, 0, 0, 0.1);
}

#highlight{
  box-shadow: 0 0 2px #ccd0d9;
  background-color: white;
}

.close{
  background-image: url(../img/cancel.png);
  background-repeat: no-repeat;
  height: 22px;
  overflow: hidden;
  background-position: center;
  cursor: pointer;


}

.refresh{
  cursor: pointer; 
  background-image: url(../img/refresh.png);
  background-repeat: no-repeat;
  height: 22px;
  overflow: hidden;
  background-position: center;

}

.delete_all{
  width: 64px;
  cursor: pointer; 
  background-image: url(../img/number.png);
  background-repeat: no-repeat;
  height: 64px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 12px;
}
.random_all{
  width: 64px;
  cursor: pointer; 
  background-image: url(../img/shuffle.png);
  background-repeat: no-repeat;
  height: 64px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 12px;
}
.previous{
  width: 64px;
  cursor: pointer; 
  background-image: url(../img/previous.png);
  background-repeat: no-repeat;
  height: 64px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 12px;
}
.delete_all:hover{
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 32px;
}
.random_all:hover{
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 32px;
}
.previous:hover{
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 32px;
}
.layer_count{
    //background-color: rgba(255,0,0,1);
    position: absolute;
    left: 0;
    width: 10px;
    height: 42px;
    transform: translateY(-25%);
}
.disabled_item
{
  background-color: rgba(231, 231, 231, 0.38)!important;
  color:grey!important;
}
#history
{
  display: none;
}
.history_container
{
  /*background-color: white;*/
  width: 100%;
  height: 700px;
}